#contact{
    ul{
        list-style: none;
        padding-left: 0;
        
        li{
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            img{
                max-width: 40px;
                padding-right: 25px;
            }

            a{
                opacity: 0.5;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}