header {
    width: 100%;
    // border-bottom: 1px solid $black;
    background-color: $seafoam-green;

    .nav-bar{
        text-align: right;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1em;
        display: block;

        @media (max-width: 450px) {
            padding-left: 0;
            padding-right: 0;
            justify-content: space-between;
            display: flex;
        }

        a{
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 15px;
            margin-right: 15px;
            padding-bottom: 2px;
            white-space: nowrap;
            display: inline-block;
            opacity: 0.5;
            position: relative;
            color: $black;

            @media (max-width: 450px) {
                 margin-left: 0;
                margin-right: 0;
            }

            &.active {
                opacity: 1;
                border-bottom: 1px solid $black;
            }

            &:hover{
                opacity: 1;

                &::before{
                    transform-origin: 0% 50%;
                    transform: scale3d(1, 1, 1);
                }
            }

            &::before{
                content: '';
                transform-origin: 100% 50%;
                transform: scale3d(0, 1, 1);
                transition: transform 0.2s;

                position: absolute;
                width: 100%;
                height: 1px;
                background: $black;
                top: 100%;
                left: 0;
                pointer-events: none;

                
            }
        }
    }
}