/**
 * General stuff
 */
body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    background: $white;

    line-height: 1.75em;

    @include bodyFont();
}

html{
    background-color: $seafoam-green;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    outline: none;
}

@include container();

a {
    @include transitionCav();

    color: $black;

    &:hover {
        //color: $orange;
    }

    &:active,
    &.active {
        //transform: scale(0.98);
    }
}

@include headings();

section{
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (max-width: $tablet-width) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @media (max-width: $mobile-width) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}