#modal{

    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
//   background: rgba(0,0,0,0.5); // overlay


    .overlay{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 0;
        transition: opacity 0.5s ease;
        cursor: pointer;
        pointer-events: none;
    }

    .modal-container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // bottom: 0;
        z-index: 11;

        max-width: 1000px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        border-radius: $border-radius;
        max-height: 90vh; // or whatever fits your design
        overflow-y: auto;
        width: 90vw;

        @media (max-width: $mobile-width) {
            margin: 0;
            max-height: 100vh;
            max-width: 100vw;
            width: 100%;
            border-radius: 0;
        }

        .modal-title{
            display: inherit;
            text-align: center;
            padding: 22px;
            margin: 0;
            text-transform: uppercase;
            color: $black;
            background-color: $seafoam-green;
            border-bottom: none;
        }

        #modal-body{
            padding-top: 3em;
            padding-bottom: 3em;

            @media (max-width: $mobile-width) {
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }   

        .close {
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
            // font-size: 1.2em;
            font-weight: 600;
            font-size: 50px;
            color: $black;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        .modal-content{
            
            // padding-top: 20px;
            // padding-bottom: 20px;
            // font-size: 1.1em;
            // line-height: 1.6em;

            p{
                &:first-child {
                    margin-top: 0;
                }

                &.bold {
                    font-weight: 600;
                }

                &.underline{
                    text-decoration: underline;
                }
            }
        }

        .buttons{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
            margin-bottom: 20px;

            
        }

        .store-btn {
            // max-height: 50px;
            width: auto;

            img{
                max-height: 75px;
                height: 60px;

                @media (max-width: $mobile-width) {
                height: 40px;
            }
            }
        }

        .video-container{
            text-align: center;

            iframe{
                max-width: 100%;
                background-color: $black;
            }
        }
    }
}

body.modal-open {
    overflow: hidden;

    // When modal is open, fade in overlay
    #modal{
        .overlay {
            opacity: 1;
            pointer-events: auto;
        }
    }
}