@import "fonts";
@import "vars";
@import "animate";
@import "layout";
@import "header";
@import "footer";
@import "projects";
@import "modal";
@import "resume";
@import "contact";
@import "about";
@import "websites";